.carousel {
  overflow: hidden;
  position: relative;
}

.slideshow {
  display: flex;
  width: 100%;
  min-height: 400px;
}

.slide {
  color: white;
  background-color: var(--dark-blue);
  min-height: 100%;
  min-width: 100%;
}

.previous-btn,
.next-btn {
  background-color: #1818182c;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
}

.previous-btn {
  top: 50%;
  left: 10px;
}

.next-btn {
  top: 50%;
  right: 10px;
}

.selection-bar {
  padding: 5px 10px;
  list-style: none;
  display: flex;
  justify-self: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  background-color: #ffffff49;
  border-radius: 30px;
}

.selection-bar li {
  display: flex;
  align-content: center;
}

.selection-bar button {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-style: none;
}

.selection-bar button.active {
  background-color: black;
}
