.carousel {
  border-radius: 20px;
  margin-top: 32px;
  overflow: hidden;
  position: relative;
}

.slideshow {
  display: flex;
  width: 100%;
  height: 400px;
}

.slide {
  padding: min(24px, 5vw);
  color: white;
  background: linear-gradient(180deg, var(--dark-blue), black);
  min-height: 100%;
  min-width: 100%;
}

.previous-btn,
.next-btn {
  color: var(--white);
  background-color: #1818182c;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
}

.previous-btn:hover,
.next-btn:hover {
  color: var(--font-black);
  background-color: rgba(255, 255, 255, 0.781);
}

.previous-btn {
  top: 50%;
  left: 10px;
}

.next-btn {
  top: 50%;
  right: 10px;
}

.selection-bar {
  padding: 5px 10px;
  list-style: none;
  display: flex;
  justify-self: center;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  background-color: #ffffff49;
  border-radius: 30px;
}

.selection-bar li {
  display: flex;
  align-content: center;
}

.selection-bar button {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-style: none;
}

.selection-bar button.active {
  background-color: black;
}

.pause {
  margin-left: 8px;
}

.pause-btn {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border-radius: 0;
}

/* Slide 1 */

.first {
  padding: min(24px, 5vw) min(72px, 7vw);
}

.slide1-link {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 2fr;
  color: var(--white);
}

.images {
  margin: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.images img {
  border-radius: 20px;
  max-width: 200px;
  background-color: white;
  height: auto;
}

.first .info {
  padding: min(72px, 4vw);
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.info h3 {
  font-size: 2rem;
}

.info p {
  font-size: 1.5rem;
}

.info span {
  font-size: 1.5rem;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid white;
}

/* Slide 2 */

.two {
  display: flex;
}

.two a {
  font-family: "LouisaCP", "Roboto", var(--system-ui);
  display: flex;
  flex-direction: column;
}

.two h3 {
  color: var(--light-steel);
  text-shadow: 3px 3px 2px black;
  font-size: 4rem;
  align-self: center;
}

.fragrances-list {
  display: flex;
  align-items: center;
}

.fragrance-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-steel);
}

.fragrance-item img {
  width: 70%;
  height: auto;
}

.fragrance-item h4 {
  text-align: center;
  text-shadow: 2px 2px 2px black;
  font-size: 2rem;
}

/* Slide 3 */

.three {
  padding: min(72px, 7vw);
}

.three a {
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.three img {
  justify-self: center;
}

.three .info {
  align-self: center;
  margin-left: min(42px, 5vw);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.three span {
  font-size: 1.5rem;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid white;
}

/* Slide 4 */

.four {
  display: flex;
  justify-content: center;
  align-items: center;
}

.four a {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.four .logo {
  font-size: clamp(3rem, 7vw, 7rem);
}

.four h4 {
  display: flex;
  gap: 16px;
}

.four .cheap,
.four .allways {
  letter-spacing: 2px;
  text-shadow: 2px 2px var(--font-black);
  font-size: clamp(1.5rem, 6vw, 5rem);
  font-family: "Vanilla Whale", "Roboto", var(--system-ui);
}

.four .cheap {
  color: var(--gold);
}

.four .allways {
  color: var(--light-steel);
}

@media (max-width: 1200px) {
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first .slide1-link {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .first .images {
    align-items: center;
    display: flex;
  }

  .bed2,
  .bed3,
  .bed4 {
    display: none;
  }

  .two {
    justify-content: center;
    align-items: stretch;
  }

  .two .fragrance-item img {
    width: auto;
  }

  .two .fragrance-item h4 {
    display: none;
  }
}

@media (max-width: 840px) {
  .first .info p {
    display: none;
  }

  .two .fragrances-list li:nth-child(even) {
    display: none;
  }
}

@media (max-width: 700px) {

  .three {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .three h3 {
    text-wrap: unset;
  }

  .three a {
    display: flex;
  }

  .three a img {
    width: 40%;
  }

  .three .info p {
    display: none;
  }  
}

@media (max-width: 500px) {
  .first .slide1-link {
    flex-direction: column;
  }

  .first .info h3 {
    font-style: italic;
    color: var(--gold);
    font-size: 1.5rem;
  }

  .first .info span {
    display: none;
  }

  .two h3 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    text-align: center;
  }

  .three .info {
    margin: 0;
  }

  .three h3 {
    color: var(--gold);
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
  }

  .three a {
    padding: auto;
    flex-direction: column;
  }

  .three span {
    display: none;
  }

  .three a img {
    width: auto;
  }
}
