.carousel {
  overflow: hidden;
  position: relative;
}

.slideshow {
  display: flex;
  width: 100%;
  min-height: 400px;
}

.slide {
  padding: min(24px, 5vw);
  color: white;
  background: linear-gradient( 180deg, var(--dark-blue), black); 
  min-height: 100%;
  min-width: 100%;
}

.previous-btn,
.next-btn {
  background-color: #1818182c;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
}

.previous-btn {
  top: 50%;
  left: 10px;
}

.next-btn {
  top: 50%;
  right: 10px;
}

.selection-bar {
  padding: 5px 10px;
  list-style: none;
  display: flex;
  justify-self: center;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  background-color: #ffffff49;
  border-radius: 30px;
}

.selection-bar li {
  display: flex;
  align-content: center;
}

.selection-bar button {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-style: none;
}

.selection-bar button.active {
  background-color: black;
}

.pause {
  margin-left: 8px;
}

.pause-btn {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border-radius: 0;
}

/* Slide 1 */

.first {
  padding: min(24px, 5vw) min(72px, 7vw);
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 2fr;
}

.images {
  margin: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.images img {
  max-width: 200px;
  background-color: white;
  height: auto;
}

.first .info {
  padding: min(72px, 6vw);
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.info h3 {
  font-size: 2rem;
}

.info p {
  font-size: 1.5rem;
}

.info a {
  font-size: 1.5rem;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid white;
}

/* Slide 2 */

.two {
  display: flex;
}

.two a {
  margin: auto;
  display: flex;
  gap: 36px;
  flex-direction: column;
  color: white;
}

.two h3 {
  font-size: 2.5rem;
  align-self: center;
}

.fragrances {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fragrance-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fragrance-item img {
  width: 70%;
  height: auto;
}

.fragrance-item h4 {
  font-size: 1.5rem;
}

.three {
  padding: min(72px, 7vw);
}

.three a {
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.three img {
  justify-self: center;
}

.three .info {
  align-self: center;
  margin-left: min(42px, 5vw);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.three span {
  font-size: 1.5rem;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid white;
}
