.cart-total {
  padding: 24px;
  color: var(--font-black);
  border-bottom: 2px solid var(--gold);
}

.cart-total span {
  background-color: var(--red);
  padding: 2px 4px;
  border-radius: 10px;
  color: var(--white);
}

.cart-item {
  display: flex;
  gap: 16px;
  padding: 24px;
  flex-direction: column;
  border-bottom: 2px solid lightslategray;
}

.cart-item .title {
  font-size: 1.2rem;
  text-wrap: balance;
}

.cart-item a {
  color: var(--font-black);
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: 50px 1fr;
}

.item-total,
.total-order {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-content: space-between;
}

.cart-item img {
  height: 50px;
  width: auto;
}

.cart-price {
  color: var(--font-black);
}

.total-order {
  color: var(--font-black);
  font-size: 2rem;
  padding: 24px;
}

.checkout {
  padding: 24px;
  align-items: center;
}

.checkout-btn {
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 20px;
  background-color: var(--dark-blue);
  color: var(--white);
  transition: transform 0.4s ease-in-out;
}

.checkout-btn:hover {
  transform: scale(1.1);
}

.empty {
  min-height: 50vh;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty h3 {
  font-size: 2rem;
  color: var(--font-black);
}

.empty a {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 30px;
  font-size: 1.5rem;
  padding: 6px 12px;
}
