.product {
  padding: min(72px, 6vw);
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
}

.product .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-info {
  padding-right: min(108px, 5vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 2rem;
}

.product .title {
  margin-bottom: 24px;
}

.description p {
  font-size: 1.5rem;
}

.product .details .add {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.details .stock {
  display: flex;
  gap: 8px;
}

.comment-section {
  border-radius: 30px;
  padding: 24px min(72px, 5vw);
  margin-bottom: 24px;
}

.comment-section h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}

.comments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 24px;
}

.comments span {
  font-size: 1rem;
}

.comment p {
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .product {
    display: flex;
    flex-direction: column;    
  }

  .main-info {
    flex-wrap: wrap;
  }
}
