.options {
  display: grid;
  grid-template-columns: 140px 50px;
  gap: 10px;
}

.counter {
  border-radius: 30px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--red);
  font-size: 1.5rem;
  max-width: 50px;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--dark-blue);
}

.increment,
.decrement {
  composes: btn;
}

.delete {
  margin: auto;
  border-radius: 10px;
  color: var(--white);
  padding: 8px;
  background-color: var(--dark-blue);
}
