.products {
  display: grid;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.product-card {
  box-shadow:
    2px 2px 5px var(--shadow-grey),
    -2px -2px 5px var(--shadow-grey);
  display: grid;
  grid-template-rows: 200px 1fr;
  border-radius: 30px;
  padding: 16px;
}

.product-card a {
  color: black;
}

.product-card img {
  justify-self: center;
  align-self: center;
  height: auto;
  width: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  width: 220px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 1.5rem;
}

.add-btn {
  padding: 6px 12px;
  border-radius: 30px;
  background-color: var(--dark-blue);
  color: var(--white);
}
