.category-nav {
  padding: 20px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.category-list a {
  display: inline-block;
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
  padding: 6px 12px;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
}

.category-list a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.products {
  display: grid;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.beauty,
.furniture,
.fragrances,
.groceries {
  border-bottom: 2px solid var(--dark-blue);
  padding: 24px 0;
}

.beauty {
  border-top: 2px solid var(--dark-blue);
}

.product-card {
  display: flex;
  flex-direction: column;
  box-shadow:
    2px 2px 5px var(--shadow-grey),
    -2px -2px 5px var(--shadow-grey);
  border-radius: 30px;
  padding: 16px;
}

.product-card a {
  display: grid;
  grid-template-rows: 200px 1fr;
  color: var(--font-black);
}

.product-info {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  width: 220px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-btn {
  padding: 6px 12px;
  border-radius: 30px;
  background-color: var(--dark-blue);
  color: var(--white);
}
