#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 75px;
}

.header-content,
.footer-content,
main {
  margin: 0 auto;
}

main,
.header-content,
.footer-content {
  width: clamp(320px, 100%, 1440px);
}

header {
  background-color: #22333b;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 108px;
}

header a {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

header a:hover {
  border-bottom: 2px solid white;
}

footer {
  text-align: center;
  background-color: #22333b;
  color: white;
}
