#root {
  --dark-blue: #22333b;
  --white: #f8f8f8;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 75px;
}

.header-content,
.footer-content,
main {
  margin: 0 auto;
}

main,
.header-content,
.footer-content {
  width: clamp(320px, 100%, 1440px);
}

header {
  background-color: var(--dark-blue);
}

header ul {
  display: flex;
  justify-content: center;
  gap: 108px;
}

header a {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white);
}

footer {
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
}

.products {
  display: grid;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.product-card {
  border: 2px solid rgb(121, 120, 120);
  display: grid;
  grid-template-rows: 200px 1fr;
  border-radius: 30px;
  padding: 16px;
}

.product-card a {
  color: black;
}

.star-rating .rating {
  margin-left: 8px;
  font-weight: 500;
}

.product-card img {
  justify-self: center;
  align-self: center;
  height: auto;
  width: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  width: 220px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 1.5rem;
}

.add-btn {
  padding: 6px 12px;
  border-radius: 30px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.cart-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-link span {
  z-index: 1;
  padding: 2px 10px;
  position: absolute;
  font-size: 1.1rem;
  top: 10px;
  right: -20px;
  background-color: crimson;
  border-radius: 50%;
}

.cart-item {
  display: flex;
  gap: 16px;
  padding: 24px;
  flex-direction: column;
  border-bottom: 2px solid lightslategray;
}

.cart-item .title {
  font-size: 1rem;
  text-wrap: balance;
}

.cart-item a {
  color: black;
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: 50px 1fr;
}

.item-total,
.checkout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.cart-item img {
  height: 50px;
  width: auto;
}

.product-options {
  display: grid;
  grid-template-columns: 140px 50px;
  gap: 10px;
}

.product-counter {
  border-radius: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-counter input {
  text-align: center;
  border: 1px solid black;
  font-size: 1.5rem;
  max-width: 50px;
}

.checkout {
  padding: 24px;
  align-items: center;
}

.checkout-btn {
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 8px 12px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.product {
  padding: 72px;
  min-height: 700px;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 1fr;
}

.product .details {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product .title {
  margin-bottom: 24px;
}

.product .image {
  padding: 24px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.description p {
  font-size: 1.5rem;
}

.category {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-nav {
  padding: 20px;
}

.category-list {
  display: flex;
  justify-content: space-evenly;
}

.category-list a {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 4px 8px;
  border-radius: 10px;
}

.path-nav,
.shop-path {
  margin-left: 200px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.path-nav a,
.shop-path a {
  color: black;
  font-size: 1.5rem;
}

nav a:hover {
  text-decoration: underline;
}

.error { 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
