#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 75px;
}

.header-content,
.footer-content,
main {
  margin: 0 auto;
}

main,
.header-content,
.footer-content {
  width: clamp(320px, 100%, 1440px);
}

header {
  background-color: #22333b;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 108px;
}

header a {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

header a:hover {
  border-bottom: 2px solid white;
}

footer {
  text-align: center;
  background-color: #22333b;
  color: white;
}

.products {
  display: grid;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.product-card {
  border: 2px solid rgb(121, 120, 120);
  display: grid;
  grid-template-rows: 200px 1fr;
  border-radius: 30px;
  padding: 16px;
}

.product-card img {
  justify-self: center;
  align-self: center;
  height: auto;
  width: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 1rem;
}

.product-price {
  font-size: 1.5rem;
}
